<footer>

	<div>
		<h1> COPYRIGHT </h1>
		<p> &copy;Regenerative Therapies 2022 </p>
	</div>

	<div>
		<h1> CONTACT INFO </h1>
		<p> <a href="mailto:carronregenerativetherapies@gmail.com"> carronregenerativetherapies@gmail.com </a> </p>
		<p> <a href="tel:+15044014551"> (405) 401-4551 </a> </p>
	</div>

	<div>
		<h1> CREDIT </h1>
		<p>
			Website designed and developed by Alex Carron:
		</p>
		<p>
			<a href='http://alexcarron.github.io/portfolio'>alexcarron.github.io/portfolio</a>
		</p>
	</div>

</footer>